@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-main;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --white: #ffffff;
    --gold: #C4A25E;
    --main: #0F2117;
  }

}

@layer components {
  input {
    &:focus-visible {
      outline: none !important;
      outline-offset: 0 !important;
      box-shadow: none !important;
    }

  }
  button {
    &[role='checkbox'] {
      &[aria-checked='true'] {
        background-color: var(--white) !important;
        color: var(--gold) !important;
      }
    }
  }
}