$grid-gap: 16px;

.cardsWrap {
  gap: $grid-gap;

  >  a {
    aspect-ratio: 1 / 1.5;
    width: calc(25% - $grid-gap * 3/4);

    @media (max-width : 1200px) {
      width: calc(33.333% - $grid-gap * 2/3);
    }

    @media (max-width : 700px) {
      width: calc(50% - $grid-gap * 1/2);
      aspect-ratio: 1 / 1.2;
    }

    @media (max-width : 440px) {
      width: calc(100%);
      aspect-ratio: 1 / 1;
    }
  }
}